@use "../utilities/maps" as *;

/* ===================
   FUENTES PERSONALIZADAS
   =================== */

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* ===================
   ESTILOS GENERALES DE TEXTO
   =================== */

h1, h2, h3, h4, h5, h6 {
    font-family: map-get($font-styles, titulos);
    margin-bottom: 0;
}

h1 {
    font-weight: 400;
    font-size: map-get($font-sizes, xl);
    background-color: #fff;
    color: #111;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #fff;
}

h3 {
    font-weight: 500;
    color: antiquewhite;
}

h4 {
    font-weight: 500;
    color: antiquewhite;
}

p {
    font-family: map-get($font-styles, parrafos);
    line-height: 1.3;
}

a {
    font-family: map-get($font-styles, resaltado);
}

.atrib {
    font-size: 10px;
}
