$colors: (
    primario:#cc7722,
    contraste:#444448,
    terciario:#e4d2ad,
    negro:#111,
    blanco:#e4d2ad,
    border:#111,
    shadow: #777
);

$font-sizes: (
    xs:0.6rem,
    s:0.9rem,
    m:1.1rem,
    l:1.7rem,
    xl:2rem
);

$font-styles: (
    titulos:"Titillium Web",
    parrafos: "Dosis",
);
