@use "../utilities/maps" as *;
/*FOOTER*/

footer{
    color: #111;
}

.footer-superior{
    background: linear-gradient(to bottom, #cc7722 0%, #b06c1d 100%);
    color: white;
    padding: 30px 5x;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    padding: 20px 10px;
}

.footer-inferior{
    background-color: #f5f1e1 ;
    padding: 20px 0;
    img{
        opacity: 0.8;

    }
    
}
.copyright{
    background-color: rgb(0, 0, 0);
    p{
        margin: 0;
        color: #fff;
        font-size: map-get($font-sizes, xs );
        padding: 2px 0;
    }
}