/* ===================
   HEADER
   =================== */

.numero-whatsapp p{
    display: inline;
}

.icono img{
    width: 34px;
}

.logo img{
    max-width: 200px;
    padding: 10px 0;
}

.logo-mobile img{
    max-width: 120px;
}