@use "../utilities/maps" as *;

/*NAVBAR*/
.navbar-edit{
    background: linear-gradient(90deg, lighten(map-get($colors, primario), 10%), darken(map-get($colors, primario), 10%)); // Degradado basado en el color primario
    color: white;
    padding: 5px 2x;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 2px 6px rgba(50, 50, 50, 0.15);
    .nav-link{
        font-size: map-get($font-sizes, s );
        padding: 0;
        color: #111;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.2s ease-in-out, border-bottom 0.2s;
        opacity: 0.8;
        &:hover{
            color: #ffe5b4;
            opacity: 1;
        }
    }
    .nav-link.active{
        color: #fff;
        opacity: 1;
    }
}